.service_box{
    width: 343px;
    height: 190px;
    background: url(/images/kefu.png) no-repeat;
    position: absolute;
    z-index: 7000;
    right: 0px;
    padding-left: 15px;
}
.service_project{
    width: 70px;
    line-height: 45px;
    color: #fff;
}
.close_button{
    z-index: 8900;
    border: none;
    cursor: pointer;
    top: -3px;
    right: 5px;
}
.close_button a{
    width: 30px;
    height: 30px;
    background: url(/images/close_classbox0.png) center;
    display: inline-block;
}
.close_button a:hover{
    background: url(/images/close_classbox.png) center;
}
.warning{
    position: absolute;
    top: 250px;
    left: 38%;
    float: left;
}